version: "3.8"

services:

  config-service:
    build:
      context: ./configservice
      dockerfile: docker/Dockerfile
    container_name: config-service
    env_file:
      - .env
    environment:
      SPRING_APPLICATION_NAME: configservice
      SPRING_PROFILES_ACTIVE: native
      SPRING_CLOUD_CONFIG_SERVER_NATIVE_SEARCH_LOCATIONS: file:/config-data
      JAVA_TOOL_OPTIONS: ${JAVA_TOOL_OPTIONS_SMALL}
    volumes:
      - ./config-data:/config-data:ro
    restart: unless-stopped
    mem_limit: 384m
    cpus: "0.35"
    networks:
      - backend-net

  eureka-service:
    build:
      context: ./eurekaservice
      dockerfile: docker/Dockerfile
    container_name: eureka-service
    env_file:
      - .env
    depends_on:
      - config-service
    environment:
      SPRING_APPLICATION_NAME: msvc-eureka
      SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE}
      SPRING_CLOUD_CONFIG_URI: ${SPRING_CLOUD_CONFIG_URI}
      SPRING_CLOUD_CONFIG_FAILFAST: "false"
      JAVA_TOOL_OPTIONS: ${JAVA_TOOL_OPTIONS_SMALL}
    restart: unless-stopped
    mem_limit: 384m
    cpus: "0.35"
    networks:
      - backend-net

  gateway-service:
    build:
      context: ./gatewayservice
      dockerfile: docker/Dockerfile
    container_name: gateway-service
    env_file:
      - .env
    ports:
      - "80:8080"
    depends_on:
      - eureka-service
      - config-service
    environment:
      SPRING_APPLICATION_NAME: msvc-gateway
      SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE}
      SPRING_CLOUD_CONFIG_URI: ${SPRING_CLOUD_CONFIG_URI}
      SPRING_CLOUD_CONFIG_FAILFAST: "false"
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE}
      JWT_SECRET: ${JWT_SECRET}
      JAVA_TOOL_OPTIONS: ${JAVA_TOOL_OPTIONS_GATEWAY}
    restart: unless-stopped
    mem_limit: 512m
    cpus: "0.40"
    networks:
      - backend-net

  users-service:
    build:
      context: ./userservice
      dockerfile: docker/Dockerfile
    container_name: users-service
    env_file:
      - .env
    depends_on:
      - eureka-service
      - config-service
    environment:
      SPRING_APPLICATION_NAME: msvc-users
      SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE}
      SPRING_CLOUD_CONFIG_URI: ${SPRING_CLOUD_CONFIG_URI}
      SPRING_CLOUD_CONFIG_FAILFAST: "false"
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE}
      JWT_SECRET: ${JWT_SECRET}
      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL}
      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
      JAVA_TOOL_OPTIONS: ${JAVA_TOOL_OPTIONS_SMALL}
    volumes:
      - /home/ubuntu/certs:/certs:ro
    restart: unless-stopped
    mem_limit: 384m
    cpus: "0.35"
    networks:
      - backend-net

  products-service:
    build:
      context: ./productservice
      dockerfile: docker/Dockerfile
    container_name: products-service
    env_file:
      - .env
    depends_on:
      - eureka-service
      - config-service
    environment:
      SPRING_APPLICATION_NAME: msvc-products
      SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE}
      SPRING_CLOUD_CONFIG_URI: ${SPRING_CLOUD_CONFIG_URI}
      SPRING_CLOUD_CONFIG_FAILFAST: "false"
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE}
      JWT_SECRET: ${JWT_SECRET}
      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL}
      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
      JAVA_TOOL_OPTIONS: ${JAVA_TOOL_OPTIONS_SMALL}
    volumes:
      - /home/ubuntu/certs:/certs:ro
    restart: unless-stopped
    mem_limit: 384m
    cpus: "0.35"
    networks:
      - backend-net

  orders-service:
    build:
      context: ./orderservice
      dockerfile: docker/Dockerfile
    container_name: orders-service
    env_file:
      - .env
    depends_on:
      - eureka-service
      - config-service
    environment:
      SPRING_APPLICATION_NAME: msvc-orders
      SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE}
      SPRING_CLOUD_CONFIG_URI: ${SPRING_CLOUD_CONFIG_URI}
      SPRING_CLOUD_CONFIG_FAILFAST: "false"
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE}
      JWT_SECRET: ${JWT_SECRET}
      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL}
      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
      JAVA_TOOL_OPTIONS: ${JAVA_TOOL_OPTIONS_SMALL}
    volumes:
      - /home/ubuntu/certs:/certs:ro
    restart: unless-stopped
    mem_limit: 384m
    cpus: "0.35"
    networks:
      - backend-net

  payment-service:
    build:
      context: ./paymentservice
      dockerfile: docker/Dockerfile
    container_name: payment-service
    env_file:
      - .env
    depends_on:
      - eureka-service
      - config-service
    environment:
      SPRING_APPLICATION_NAME: msvc-pay
      SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE}
      SPRING_CLOUD_CONFIG_URI: ${SPRING_CLOUD_CONFIG_URI}
      SPRING_CLOUD_CONFIG_FAILFAST: "false"
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE}
      JWT_SECRET: ${JWT_SECRET}
      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL}
      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
      JAVA_TOOL_OPTIONS: ${JAVA_TOOL_OPTIONS_SMALL}
    volumes:
      - /home/ubuntu/certs:/certs:ro
    restart: unless-stopped
    mem_limit: 384m
    cpus: "0.35"
    networks:
      - backend-net

networks:
  backend-net:
    driver: bridge