version: '3.8'
services:
  srv_users:
    build:
      context: ../
      dockerfile: docker/Dockerfile
    container_name: msvc_gateway
    ports:
      - "8080:8080"
    restart: always
    deploy:
      resources:
        limits:
          memory: 512M
          cpus: 0.5
        reservations:
          memory: 512M
          cpus: 0.5